<aside>
				<section class="popular-recipes">
					<h2>Popular Recipes</h2>
					<a href="{{ site.baseurl }}/pages/yakitori.html">Yakitori (grilled chicken)</a>
					<a href="{{ site.baseurl }}/pages/tsukune.html">Tsukune (minced chicken patties)</a>
					<a href="{{ site.baseurl }}/pages/okonomiyaki.html">Okonomiyaki (savory pancakes)</a>
					<a href="{{ site.baseurl }}/pages/mizutaki.html">Mizutaki (chicken stew)</a>
				</section>
				<section class="contact-details">
					<h2>Contact</h2>
					<p>Yoko's Kitchen<br>
						999 Pargi Street<br>
						Nomme<br>
						Tallinn</p>
				</section>
</aside>