---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>
<body>
<div class="wrapper">

			{% include header.html %}

			<section class="courses">
				<article>
					<figure>
						<img src="{{ site.baseurl }}/images/yoko.jpg" alt="Yoko">
						<figcaption>Yoko</figcaption>
					</figure>
					<hgroup>
						<h2>meet Yoko</h2>
						<h3>Welcome to Yoko's Kitchen, where Japanese-inspired flavors meet vibrant, plant-forward recipes.</h3>
					</hgroup>
					<p>

I'm Yoko, a published cookbook author, professional recipe developer, and content creator. I work with international and national brands to help their yummiest dreams come to life.

I'm the author of The Vegan Japanese Cookbook, a collection of comforting classics and modern plant-based favorites. My work has also been featured in Thrive Magazine, where I shared how to make beautifully styled, wholesome dishes.

I specialize in creating nourishing, vegetable-centric recipes that celebrate the beauty of seasonal ingredients and the timeless elegance of Japanese cuisine, which I learned from macrobiotic cuisine.

Born and raised in Japan and now living in the United States, I bring an authentic perspective to modern everyday cooking. My passion lies in creating approachable, health-conscious recipes that reflect both my heritage and my love for seasonal, colorful eating.</p>
				</article>
			</section>
			{% include aside.html %}
			{% include footer.html %}
		</div>
</body>
</html>