---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>
<body>
<div class="wrapper">

			{% include header.html %}

			<section class="courses">
				<article>
					<figure>
						<img src="{{ site.baseurl }}/images/bok-choi.jpg" width="290" height="190" alt="Bok Choi">
						<figcaption>Catering</figcaption>
					</figure>
					<hgroup>
						<h2>Set your schedule and budget</h2>
						<h3>in Tallinn</h3>
					</hgroup>
					<p>
Set your meal schedule and subsidy amounts and invite your team members to join your group.
						Team admins can segment the team into different groups and track order details.
</p><p>
Team members can place their orders for the week all at once, or wait until the night before to make each selection.
						We’ll plan different vendors for every meal and curate menus with options for every dietary preference.
</p> <p>
Let the team select and customize their meals
Meals are individually wrapped and labeled with employee names and organized so they’re easy to find for quick and convenient grab-n-go. Our vendors will make a no-contact delivery and set up your team’s meals in a designated space in your office.</p>
				</article>
			</section>
			{% include aside.html %}
			{% include footer.html %}
		</div>
</body>
</html>