---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>
<body>
<div class="wrapper">

			{% include header.html %}
	<section class="courses">
        <hgroup>
        <h2>Register</h2>

<p><strong>Sauces Masterclass.</strong> One day workshop.</p>
	<p><strong>Japanese Vegetarian. </strong>Five week course in Tallinn</p>
            </hgroup>
										<form action="" method="post">
    <fieldset>
        <legend>Register</legend>
        <p>
            <label for="name" class="title">Your name:</label>
            <input type="text" name="name" id="name"> <br>
            <label for="email" class="title">Your email:</label>
            <input type="text" name="email" id="email"> <br>
        </p>
        <p>
            <label for="location" class="title">Your classes</label>
            <select name="location" id="location">
                <option value="ny">Sauces Masterclass</option>
                <option value="il">Japanese Vegetarian</option>
            </select>
        </p>
    </fieldset>
    <div class="submit"><input type="submit" value="Register"></div>
</form>
</section>
			{% include aside.html %}
			{% include footer.html %}
		</div>

</body>
</html>