---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>
<body>
<div class="wrapper">

			{% include header.html %}

			<section class="courses">

				<article>
					<h2>Map</h2>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8124.093209459874!2d24.6576538863955!3d59.39932370089699!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469295001500d683%3A0x8f44e15b76479d15!2z0J_QsNGA0Log0JzRj9C90L3QuA!5e0!3m2!1sru!2see!4v1773090704250!5m2!1sru!2see" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</article>

			</section>
			{% include aside.html %}
			{% include footer.html %}
		</div>
</body>
</html>