---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>
<body>
<div class="wrapper">

			{% include header.html %}

			<section class="courses">
				<article>
					<figure>
						<img src="{{ site.baseurl }}/images/mizutaki.jpg" width="400" height="400" alt="Mizutaki">
						<figcaption>Mizutaki</figcaption>
					</figure>
					<hgroup>
						<h2>Mizutaki</h2>
						<h3>...</h3>
					</hgroup>
					<p>Mizutaki (水炊き) is a traditional Japanese hot pot dish (known as nabemono, or simply nabe) in which fish or other meats and a variety of vegetables are gently cooked in a lightly flavored—or often unseasoned—broth. The cooked ingredients are then dipped in tangy ponzu sauce just before eating. Mizutaki is typically prepared in a ceramic pot called a donabe, right at the dining table over a portable gas stove. Part of the enjoyment comes from cooking and eating together as the meal progresses. While it may seem somewhat similar to sukiyaki, mizutaki is lighter and more delicate in flavor—making it an especially comforting and perfect dish for cold weather.</p>
				</article>

			</section>
			{% include aside.html %}
			{% include footer.html %}
		</div>
</body>
</html>