---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>
<body>
<div class="wrapper">

			{% include header.html %}

			<section class="courses">
				<article>
					<figure>
						<img src="{{ site.baseurl }}/images/bok-choi.jpg"  width="400" height="400" alt="Okonomiyaki">
						<figcaption>Okonomiyaki</figcaption>
					</figure>
					<hgroup>
						<h2>Okonomiyaki</h2>
						<h3>...</h3>
					</hgroup>
					<p>In our last post we wrote about the wonderful Japanese pancake, the okonomiyaki, that we enjoyed so much on our trip to Tokyo.  These tender and moist savory pancakes are packed with all sorts of delectable seafood or meaty bites, topped with umami packed toppings and zigzagged with all kinds of delicious sauces.  Just one of the best comfort foods you can find!</p>
				</article>

			</section>
			{% include aside.html %}
			{% include footer.html %}
		</div>
</body>
</html>