---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>
<body>
<div class="wrapper">

			{% include header.html %}

			<section class="courses">
				<article>
					<figure>
						<img src="{{ site.baseurl }}/images/tsukune.webp" width="290" height="190" alt="Tsukune">
						<figcaption>Tsukune</figcaption>
					</figure>
					<hgroup>
						<h2>Tsukune</h2>
						<h3>...</h3>
					</hgroup>
					<p>Just because the impetus behind this post was to solve some technical issues didn't mean I was going to let the focus of making a really incredible tsukune slip at all, and for me, a great tsukune is made all the better by an equally delicious tare sauce.</p>
					<p>Jack and I first tried okonomiyaki on a trip to Japan nearly ten years ago, and we’ve loved it ever since. If you’re not familiar with it, it’s sort of a frittata-like Japanese savory pancake made with cabbage, scallions, and assorted meat or seafood (Jack often calls it a cabbage hashbrown). This homemade version isn’t entirely authentic, but it’s healthy, delicious, and so darn easy to make. If you’re looking for a fun cooking project that doesn’t require hours in the kitchen, you have to try this okonomiyaki recipe!</p>
				</article>

			</section>
			{% include aside.html %}
			{% include footer.html %}
		</div>
</body>
</html>