---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>
<body>
<div class="wrapper">

			{% include header.html %}

			<section class="courses">
				<article>
					<figure>
						<img src="{{ site.baseurl }}/images/tsukune.webp" width="400" height="400" alt="Tsukune">
						<figcaption>Tsukune</figcaption>
					</figure>
					<hgroup>
						<h2>Tsukune</h2>
						<h3>...</h3>
					</hgroup>
					<p>Just because the impetus behind this post was to solve some technical issues didn't mean I was going to let the focus of making a really incredible tsukune slip at all, and for me, a great tsukune is made all the better by an equally delicious tare sauce.</p>
				</article>

			</section>
			{% include aside.html %}
			{% include footer.html %}
		</div>
</body>
</html>