---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yoko</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>
<body>
<div class="wrapper">

			{% include header.html %}

			<section class="courses">
				<article>
					<figure>
						<img src="{{ site.baseurl }}/images/yakitori.jpg" width="290" height="190" alt="yakitori">
						<figcaption>Yakitori</figcaption>
					</figure>
					<hgroup>
						<h2>Yakitori</h2>
						<h3>...</h3>
					</hgroup>
					<p>Slice the base of the scallions into bite-sized pieces (1¼ inches or 3 cm). Cut the green parts in half crosswise. Add the green parts and the sauce ingredients to a small saucepan and bring to a boil. Then, reduce to a simmer until the sauce thickens, about 30 minutes.</p>
					<p>Jack and I first tried okonomiyaki on a trip to Japan nearly ten years ago, and we’ve loved it ever since. If you’re not familiar with it, it’s sort of a frittata-like Japanese savory pancake made with cabbage, scallions, and assorted meat or seafood (Jack often calls it a cabbage hashbrown). This homemade version isn’t entirely authentic, but it’s healthy, delicious, and so darn easy to make. If you’re looking for a fun cooking project that doesn’t require hours in the kitchen, you have to try this okonomiyaki recipe!</p>
				</article>
			</section>
			{% include aside.html %}
			{% include footer.html %}
		</div>
</body>
</html>