---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yoko</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>
<body>
<div class="wrapper">

			{% include header.html %}

			<section class="courses">
				<article>
					<figure>
						<img src="{{ site.baseurl }}/images/yakitori.jpg" width="290" height="190" alt="yakitori">
						<figcaption>Yakitori</figcaption>
					</figure>
					<hgroup>
						<h2>Yakitori</h2>
						<h3>...</h3>
					</hgroup>
					<p>Slice the base of the scallions into bite-sized pieces (1¼ inches or 3 cm). Cut the green parts in half crosswise. Add the green parts and the sauce ingredients to a small saucepan and bring to a boil. Then, reduce to a simmer until the sauce thickens, about 30 minutes.</p>
				</article>
			</section>
			{% include aside.html %}
			{% include footer.html %}
		</div>
</body>
</html>